// animazione iniziale principale
@keyframes animate-up {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
}

//animazione iniziale luna con rimbalzo
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
}
