// COLOR VARIABLES
$color-background-day: #fff;
$color-primary-day: #4f4f4f;
$color-secondary-day: #82bbcf;
$color-tertiary-day: #427c91;

$color-background-night: #29263e;
$color-primary-night: #fff;
$color-secondary-night: #82bbcf;
$color-tertiary-night: #427c91;

$sun-color: rgb(242, 227, 7);

$timing: 0.2s;

// FONT VARIABLES
$font-primary: -apple-system, BlinkMacSystemFont, sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $color-background-night;
  transition: all $timing ease-in-out; /* Animation */
}

body.click-active {
  background-color: $color-background-day;
}

.container {
  height: 100vh;
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;

  /*posso usare 12 come in Bootstrap o personalizzare la divisione in colonne del progetto
  qui ne sto usando 8 di griglia prinicpale + 2 cuscinetti a destra e sininstra x margini ed
  eventuali aggiunte grafica che vanno da tutta sx a tutta dx potendo dare una variante 
  grafica*/
  grid-template-columns: [start-airbag-sx] 1fr [end-airbag-sx start-real] 3fr [end-real start-airbag-dx]1fr [end-airbag-dx];
}
