// COLOR VARIABLES
$color-background-day: #f4f4ec;
$color-primary-day: #23451b;
$color-secondary-day: #82bbcf;
$color-tertiary-day: #427c91;

$color-background-night: #29263e;
$color-primary-night: #f4f4ec;
$color-secondary-night: #82bbcf;
$color-tertiary-night: #427c91;

$sun-color: #f2e307;

$timing: 0.2s;

$scale: 1.2;

// FONT VARIABLES
$font-primary: -apple-system, BlinkMacSystemFont, sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $color-background-night;
  transition: all $timing ease-in-out; /* Animation */
}

body.click-active {
  background-color: $color-background-day;
}
