.header {
  animation: fade 0.5s cubic-bezier(0, 0.5, 0.5, 1) 0.3s backwards;
  position: relative;
  display: flex;
  grid-column: start-real / end-real;
  grid-row: 1/2;
  margin-bottom: 3rem;
  justify-content: flex-start;
  align-items: flex-end;
}
