.thema-selection {
  opacity: 1;
  position: absolute;
  bottom: 10px;
  left: 2px;
  background-color: $color-primary-night;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  transition: all 0.3s ease-in;

  &::before {
    opacity: 1;
    position: absolute;
    content: ""; /* content: "" - altrimenti non si vede l oggetto _before */
    top: -12px;
    right: 10px;
    bottom: 10px;
    left: 9px;
    background-color: $color-background-night;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: all 0.1s ease-out;
  }

  &:hover {
    transform: scale(1.15);
  }
}

.thema-selection.click-active {
  background-color: $sun-color;

  &::before {
    background-color: $color-background-day;
    transform: translate(10px, -25px);
    opacity: 1;
  }
  &:hover {
    transform: scale(1.15);
  }
}
