.circle {
  left: -0.5rem;
  height: 2.2rem;
  width: 2.2rem;
  background-color: $color-background-night;
  border-radius: 50%;
  position: absolute;
  bottom: -3rem;
  overflow: hidden;
}

.circle.click-active {
  background-color: $color-background-day;
}
.thema-selection {
  opacity: 1;
  position: absolute;
  bottom: 0.1rem;
  left: 0.1rem;
  background-color: $color-primary-night;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  transition: all $timing ease-in;

  &::before {
    opacity: 1;
    position: absolute;
    content: ""; /* content: "" - altrimenti non si vede l oggetto _before */
    top: -0.5rem;
    left: 0.5rem;
    background-color: $color-background-night;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    transition: all $timing ease-out;
  }

  &:hover {
    transform: scale($scale);
  }
}

.thema-selection.click-active {
  background-color: $sun-color;

  &::before {
    background-color: $color-background-day;
    transform: translate(2rem, -2rem);
    opacity: 1;
  }
  &:hover {
    transform: scale($scale);
  }
}
